# Import product catalog CSV into Pandas

In [20]:
import pandas as pd

column_names = ['PRODUCT_ID', 'PRODUCT_NO', 'NAME', 'ALIAS', 'STATUS', 'PRODUCT_LINE_CODE', 'PRODUCT_GROUP_CODE', 'PRODUCT_CODE_CODE', 'DROP', 'Product', 'SFIA']

catalog_raw_df = pd.read_csv('documents/ProductDB.csv', names=column_names)

In [21]:
catalog_raw_df.shape

(9814, 11)

In [22]:
catalog_raw_df.head()

,PRODUCT_ID,PRODUCT_NO,NAME,ALIAS,STATUS,PRODUCT_LINE_CODE,PRODUCT_GROUP_CODE,PRODUCT_CODE_CODE,DROP,Product,SFIA
0,4802,1011,18MIL 1-5/8IN DRYWALL STUD,162S125-18,1,FRAM,DWF,DWS,NaN,1011,162S125-18
1,4804,1013,DRYWALL STUD 1-5/8IN 20G,162S125-30 (20G),1,FRAM,DWF,DWS,NaN,1013,162S125-30 (20G)
2,4806,1021,18MIL 2-1/2IN DRYWALL STUD,250S125-18,1,FRAM,DWF,DWS,NaN,1021,250S125-18
3,4808,1023,DRYWALL STUD 2-1/2IN 20G,250S125-30 (20G),1,FRAM,DWF,DWS,NaN,1023,250S125-30 (20G)
4,4811,1031,18MIL 3-5/8IN DRYWALL STUD,362S125-18,1,FRAM,DWF,DWS,NaN,1031,362S125-18

In [23]:
# remove last row of catalog_raw_df
catalog_raw_df = catalog_raw_df.drop(catalog_raw_df.index[-1])
# drop DROP column
catalog_clean_df = catalog_raw_df.drop(columns=['DROP'])

In [24]:
catalog_clean_df.head()

,PRODUCT_ID,PRODUCT_NO,NAME,ALIAS,STATUS,PRODUCT_LINE_CODE,PRODUCT_GROUP_CODE,PRODUCT_CODE_CODE,Product,SFIA
0,4802,1011,18MIL 1-5/8IN DRYWALL STUD,162S125-18,1,FRAM,DWF,DWS,1011,162S125-18
1,4804,1013,DRYWALL STUD 1-5/8IN 20G,162S125-30 (20G),1,FRAM,DWF,DWS,1013,162S125-30 (20G)
2,4806,1021,18MIL 2-1/2IN DRYWALL STUD,250S125-18,1,FRAM,DWF,DWS,1021,250S125-18
3,4808,1023,DRYWALL STUD 2-1/2IN 20G,250S125-30 (20G),1,FRAM,DWF,DWS,1023,250S125-30 (20G)
4,4811,1031,18MIL 3-5/8IN DRYWALL STUD,362S125-18,1,FRAM,DWF,DWS,1031,362S125-18

In [25]:
# get last row of catalog_raw_df
catalog_raw_df.tail()

,PRODUCT_ID,PRODUCT_NO,NAME,ALIAS,STATUS,PRODUCT_LINE_CODE,PRODUCT_GROUP_CODE,PRODUCT_CODE_CODE,DROP,Product,SFIA
9808,9099,99942,ANGL 1.5 X 2 (14GA),NaN,1,FRAM,ACC,ANGL,NaN,99942,150L200-68
9809,9102,99947,WBS 400 X 13.75 IN-14,NaN,1,CONN,BRAC,WBS,NaN,99947,400WBS-68
9810,35945,999995,Price Protection,NaN,1,MISC,MISC,MISC,NaN,999995,Price Protection
9811,11808,999998,Generic Part,NaN,1,FRAM,ACC,ANGL,NaN,999998,Generic Part
9812,11246,999999,Generic Product,NaN,1,FRAM,STF,TRAK,NaN,999999,0

In [26]:
catalog_raw_df.shape

(9813, 11)

# Save cleaned catalog csv to documents

In [27]:
catalog_clean_df.to_csv('documents/ProductDB_clean.csv', index=False)